<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dk.kjeldsen.scheduled_notifications"
  android:versionCode="1"
  android:versionName="0.0.1">

  <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />

  <application>
    <activity android:name=".NotificationActivity"/>
    
    <service android:name=".ScheduleNoticationsService" />
  </application>
</manifest>
